.image
{
height: 400px;
width: 400px;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
}
.first-section{
    text-align: center;
    margin-bottom: 80px;
}
.second-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
p{
    font-size: 14px;
}
footer{
    text-align: center;
}